# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
*.egg-info/
dist/
build/

# Ignore README only if you really want to
README.md


audit
settings.py.prod
**/migrations/
.freebuff