asarPy==1.0.1
asgiref==3.11.1
Cython==3.2.4
Django==6.0.5
jedi==0.20.0
Mako==1.3.12.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
meson==1.9.2
packaging==26.2
parso==0.8.7
setuptools==80.10.2
sqlparse==0.5.5
wheel==0.47.0
