{% extends 'admin/partials/base.html' %}
{% load static %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let cropper
      const input = document.getElementById('imageInput')
      const cropImage = document.getElementById('cropImage')
      const cropBtn = document.getElementById('cropBtn')
      const finalPreview = document.getElementById('finalPreview')
      const croppedInput = document.getElementById('croppedImage')
      
      if (!input) {
        console.error('imageInput not found')
        return
      }
    
      input.addEventListener('change', function (e) {
        const file = e.target.files[0]
        if (!file) return
    
        const url = URL.createObjectURL(file)
    
        cropImage.src = url
        cropImage.classList.remove('hidden')
        cropBtn.classList.remove('hidden')
    
        if (cropper) {
          cropper.destroy()
          cropper = null
        }
    
        cropImage.onload = function () {
          cropper = new Cropper(cropImage, {
            aspectRatio: 1,
            viewMode: 1,
            autoCropArea: 1
          })
        }
      })
    
      cropBtn.addEventListener('click', function () {
        if (!cropper) return
    
        const canvas = cropper.getCroppedCanvas({
          width: 400,
          height: 400
        })
    
        const croppedData = canvas.toDataURL('image/png')
    
        finalPreview.src = croppedData
        finalPreview.classList.remove('hidden')
    
        canvas.toBlob(function (blob) {
          const file = new File([blob], 'cropped.png', { type: 'image/png' })
    
          const dt = new DataTransfer()
          dt.items.add(file)
    
          document.getElementById('imageInput').files = dt.files
        })
    
        cropImage.classList.add('hidden')
        cropBtn.classList.add('hidden')
      })
    })
  </script>
  <main class="flex-1 p-12 overflow-y-auto">
    <!-- Top Bar -->
     {% include "partials/alert.html" %}
    <div class="flex justify-between items-center mb-12">
      <div class="flex items-center gap-4">
        <a href="{% url 'products:categories' %}" class="p-2 bg-white rounded-lg shadow-sm hover:bg-black-50 transition-colors">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </a>
        <h2 class="text-4xl font-black  tracking-tighter leading-none tracking-tightest">ADD NEW CATEGORY</h2>
      </div>
    </div>

    <form class="max-w-4xl" method="POST" enctype="multipart/form-data">
      <div class="bg-white p-12 rounded-[2rem] border border-balckbg-black-100 shadow-sm space-y-12">
        <!-- Form Fields -->

        {% csrf_token %}
        <div class="grid grid-cols-2 gap-10">
          <div class="col-span-2">
            <label class="block text-[12px] font-black uppercase tracking-widest text-balckbg-black-400 mb-3">Category Name</label>
            <input type="text" name="name" placeholder="e.g. Retro Legends" class="w-full bg-black-50 border border-balckbg-black-100 rounded-lg px-6 py-4 text-xs font-black  tracking-widest focus:outline-none focus:ring-2 focus:ring-lime/20" />
          </div>
          <div class="col-span-2">
            <label class="block text-[12px] font-black uppercase tracking-widest mb-3">Category Image</label>

            <!-- File input -->
            <input type="file" id="imageInput" name="image" accept="image/*" class="w-full bg-black-50 border rounded-lg px-6 py-4 text-xs" />

            <!-- Crop area -->
            <div class="mt-6">
              <img id="cropImage" class="hidden max-w-full rounded-lg" />
            </div>

            <!-- Apply button -->
            <button type="button" id="cropBtn" class="hidden mt-4 bg-black text-white px-6 py-2 rounded-lg text-xs">Apply Crop</button>

            <!-- Final preview -->
            <div class="mt-6">
              <img id="finalPreview" class="hidden w-48 h-48 object-cover rounded-lg border" />
            </div>

            <!-- Hidden input -->
            <input type="hidden" name="cropped_image" id="croppedImage" />
          </div>
          <div class="col-span-2">
            <label class="block text-[12px] font-black uppercase tracking-widest text-balckbg-black-400 mb-3">Description</label>
            <textarea rows="4" name="description" placeholder="Brief overview of what this collection represents..." class="w-full bg-black-50 border border-balckbg-black-100 rounded-lg px-6 py-4 text-xs font-medium focus:outline-none focus:ring-2 focus:ring-lime/20"></textarea>
          </div>

          <div>
            <label class="block text-[12px] font-black uppercase tracking-widest text-balckbg-black-400 mb-3">Status</label>
            <select name="is_active" class="w-full bg-black-50 border border-balckbg-black-100 rounded-lg px-6 py-4 text-xs font-black uppercase tracking-widest focus:outline-none focus:ring-2 focus:ring-lime/20 appearance-none">
              <option value="True">Active</option>
              <option value="False">Inactive</option>
            </select>
          </div>
        </div>
        <div class="flex items-center gap-4 pt-6">
          <button type="submit" class="bg-[#006400] text-white px-12 py-5 text-[10px] font-black uppercase tracking-[0.2em] rounded-2xl shadow-xl hover:bg-black transition-all">Create Category</button>
          <a href="{% url 'products:categories' %}" type="button" class="bg-white border border-balckbg-black-200 text-black px-12 py-5 text-[10px] font-black uppercase tracking-[0.2em] rounded-2xl shadow-sm hover:bg-black-50 transition-all">Cancel</a>
        </div>
      </div>
      {{ form.non_field_errors }}
    </form>
  </main>
{% endblock %}
