{% extends 'admin/partials/base.html' %}
{% load static %}
{% block title %}
  Campeon | Category
{% endblock %}
{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let cropper
      const input = document.getElementById('imageInput')
      const cropImage = document.getElementById('cropImage')
      const cropBtn = document.getElementById('cropBtn')
      const finalPreview = document.getElementById('finalPreview')
      const croppedInput = document.getElementById('croppedImage')
    
      if (!input) {
        console.error('imageInput not found')
        return
      }
    
      input.addEventListener('change', function (e) {
        const file = e.target.files[0]
        if (!file) return
    
        const url = URL.createObjectURL(file)
    
        cropImage.src = url
        cropImage.classList.remove('hidden')
        cropBtn.classList.remove('hidden')
    
        if (cropper) {
          cropper.destroy()
          cropper = null
        }
    
        cropImage.onload = function () {
          cropper = new Cropper(cropImage, {
            aspectRatio: 1,
            viewMode: 1,
            autoCropArea: 1
          })
        }
      })
    
      cropBtn.addEventListener('click', function () {
        if (!cropper) return
    
        const canvas = cropper.getCroppedCanvas({
          width: 400,
          height: 400
        })
    
        const croppedData = canvas.toDataURL('image/png')
    
        finalPreview.src = croppedData
        finalPreview.classList.remove('hidden')
    
        canvas.toBlob(function (blob) {
          const file = new File([blob], 'cropped.png', { type: 'image/png' })
    
          const dt = new DataTransfer()
          dt.items.add(file)
    
          document.getElementById('imageInput').files = dt.files
        })
    
        cropImage.classList.add('hidden')
        cropBtn.classList.add('hidden')
      })
    })
  </script>
  <div id="cropModal" class="fixed inset-0 bg-black/70 hidden items-center justify-center z-50">
    <div class="bg-white p-6 rounded-xl max-w-lg w-full">
      <div class="max-h-[70vh] overflow-hidden flex items-center justify-center">
        <img id="cropImage" class="max-h-[60vh] object-contain" />
      </div>

      <div class="flex gap-4 mt-4">
        <button type="button" onclick="applyCrop()" class="bg-lime-400 px-4 py-2 rounded font-bold">Apply</button>

        <button type="button" onclick="closeCrop()" class="bg-red-500 text-white px-4 py-2 rounded font-bold">Cancel</button>
      </div>
    </div>
  </div>
  <main class="flex-1 p-12 overflow-y-auto">
    <!-- Top Bar -->
    {% include 'partials/alert.html' %}
    <div class="flex justify-between items-center mb-12">
      <div class="flex items-center gap-4">
        <a href="{% url 'products:categories' %}" class="p-2 bg-white rounded-lg shadow-sm hover:bg-black-50 transition-colors">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </a>
        <h2 class="text-4xl font-black tracking-tighter">ADD NEW CATEGORY</h2>
      </div>
    </div>

    <form class="max-w-4xl" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="bg-white p-12 rounded-[2rem] border shadow-sm space-y-12">
        <!-- NON FIELD ERRORS -->
        {% if form.non_field_errors %}
          <div class="text-red-500 text-xs mb-4">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="grid grid-cols-2 gap-10">
          <!-- CATEGORY NAME -->
          <div class="col-span-2">
            <label class="block text-[12px] font-black uppercase mb-3">Category Name</label>

            <input type="text"
              name="name"
              value="{{ form.name.value|default_if_none:'' }}"
              placeholder="e.g. Retro Legends"
              class="w-full px-6 py-4 text-xs font-black tracking-widest rounded-lg border
            {% if form.name.errors %}
                border-red-500 ring-2 ring-red-200
              {% else %}
                border-gray-200
              {% endif %}" />

            {% if form.name.errors %}
              <p class="text-red-500 text-xs mt-2">{{ form.name.errors.0 }}</p>
            {% endif %}
          </div>

          <!-- IMAGE -->
          <div class="col-span-2">
            <label class="block text-[9px] font-black uppercase text-gray-400 mb-6">Category Image</label>

            <div class="image-slot relative w-32 h-32">
              <div onclick="document.getElementById('imageInput').click()" class="w-32 h-32 bg-white border-2 border-dashed flex items-center justify-center cursor-pointer rounded-2xl">
                <svg id="uploadIcon" class="w-8 h-8 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>

                <input id="imageInput" type="file" name="image" accept="image/*" class="hidden" />
              </div>
            </div>

            {% if form.image.errors %}
              <p class="text-red-500 text-xs mt-2">{{ form.image.errors.0 }}</p>
            {% endif %}
          </div>

          <!-- DESCRIPTION -->
          <div class="col-span-2">
            <label class="block text-[12px] font-black uppercase mb-3">Description</label>

            <textarea name="description"
              rows="4"
              class="w-full px-6 py-4 text-xs font-medium rounded-lg border
            {% if form.description.errors %}
                border-red-500 ring-2 ring-red-200
              {% else %}
                border-gray-200
              {% endif %}">{{ form.description.value|default_if_none:'' }}</textarea>

            {% if form.description.errors %}
              <p class="text-red-500 text-xs mt-2">{{ form.description.errors.0 }}</p>
            {% endif %}
          </div>

          <!-- STATUS -->
          <div>
            <label class="block text-[12px] font-black uppercase mb-3">Status</label>

            <select name="is_active" class="w-full px-6 py-4 text-xs font-black uppercase rounded-lg border border-gray-200">
              <option value="True">Active</option>
              <option value="False">Inactive</option>
            </select>
          </div>
        </div>

        <!-- BUTTONS -->
        <div class="flex items-center gap-4 pt-6">
          <button type="submit" class="bg-green-700 text-white px-12 py-5 text-[10px] font-black uppercase rounded-2xl">Create Category</button>

          <a href="{% url 'products:categories' %}" class="bg-white border px-12 py-5 text-[10px] font-black uppercase rounded-2xl">Cancel</a>
        </div>
      </div>
    </form>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let cropper = null
    
      const input = document.getElementById('imageInput')
      const modal = document.getElementById('cropModal')
      const cropImage = document.getElementById('cropImage')
    
      if (!input) return
    
      input.addEventListener('change', function () {
        const file = this.files[0]
    
        if (!file) return
    
        const reader = new FileReader()
    
        reader.onload = function (e) {
          cropImage.src = e.target.result
    
          modal.classList.remove('hidden')
          modal.classList.add('flex')
    
          cropper?.destroy()
    
          cropper = new Cropper(cropImage, {
            aspectRatio: 1,
            viewMode: 1
          })
        }
    
        reader.readAsDataURL(file)
      })
    
      window.applyCrop = function () {
        if (!cropper) return
    
        cropper
          .getCroppedCanvas({
            width: 800,
            height: 800
          })
          .toBlob((blob) => {
            const file = new File([blob], 'category.jpg', {
              type: 'image/jpeg'
            })
    
            const dt = new DataTransfer()
            dt.items.add(file)
            input.files = dt.files
    
            const slot = input.closest('.image-slot')
    
            slot.querySelector('.preview-img')?.remove()
    
            document.getElementById('uploadIcon')?.remove()
    
            const img = document.createElement('img')
    
            img.src = URL.createObjectURL(blob)
    
            img.className = 'preview-img absolute inset-0 w-full h-full object-cover rounded-2xl'
    
            slot.appendChild(img)
    
            closeCrop()
          }, 'image/jpeg')
      }
    
      window.closeCrop = function () {
        modal.classList.add('hidden')
        modal.classList.remove('flex')
    
        cropper?.destroy()
        cropper = null
      }
    })
  </script>
{% endblock %}
