{% extends 'admin/partials/base.html' %}
{% load static %}
{% block title %}Campeon | Category{% endblock title %}
{% block content %}
<div id="cropModal" class="fixed inset-0 bg-black/70 hidden items-center justify-center z-50">
    <div class="bg-white p-6 rounded-xl max-w-lg w-full">

        <div class="max-h-[70vh] overflow-hidden flex items-center justify-center">
            <img id="cropImage" class="max-h-[60vh] object-contain">
        </div>

        <div class="flex gap-4 mt-4">
            <button type="button" onclick="applyCrop()" class="bg-lime-400 px-4 py-2 rounded font-bold">
                Apply
            </button>

            <button type="button" onclick="closeCrop()" class="bg-red-500 text-white px-4 py-2 rounded font-bold">
                Cancel
            </button>
        </div>

    </div>
</div>

<main class="flex-1 p-12 overflow-y-auto">

  <!-- TOP -->
  <div class="flex justify-between items-center mb-12">
    <div class="flex items-center gap-4">
      <a href="{% url 'products:categories' %}" class="p-2 bg-white rounded-lg shadow-sm hover:bg-black-50">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
      </a>

      <h2 class="text-4xl font-black uppercase tracking-tight">EDIT CATEGORY</h2>
    </div>
  </div>

  <form class="max-w-4xl" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="bg-white p-12 rounded-[2rem] border shadow-sm space-y-12">

      <!-- NON FIELD ERRORS -->
      {% if form.non_field_errors %}
        <div class="text-red-500 text-xs mb-4">
          {{ form.non_field_errors.0 }}
        </div>
      {% endif %}

      <div class="grid grid-cols-2 gap-10">

        <!-- NAME -->
        <div class="col-span-2">
          <label class="block text-[12px] font-black tracking-widest mb-3">
            Category Name
          </label>

          <input
            type="text"
            name="name"
            value="{{ form.name.value|default_if_none:'' }}"
            class="w-full px-6 py-4 text-xs font-black tracking-widest border rounded-lg
            {% if form.name.errors %}border-red-500 ring-2 ring-red-200{% else %}border-gray-200{% endif %}"
          />

          {% if form.name.errors %}
            <p class="text-red-500 text-xs mt-2">
              {{ form.name.errors.0 }}
            </p>
          {% endif %}
        </div>

        <!-- IMAGE -->
        <div class="col-span-2">
          <label class="block text-[9px] font-black uppercase text-gray-400 mb-6">
            Category Image
          </label>

          <div class="image-slot relative w-32 h-32">

            <div id="imageBox"
                 onclick="document.getElementById('imageInput').click()"
                 class="w-32 h-32 bg-white border-2 border-dashed flex items-center justify-center cursor-pointer rounded-2xl overflow-hidden">

                {% if category.image %}
                    <img id="previewImage"
                         src="{{ category.image.url }}"
                         class="w-full h-full object-cover rounded-2xl">
                {% else %}
                    <svg id="uploadIcon" class="w-8 h-8 text-gray-300" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                {% endif %}

                <input id="imageInput" type="file" name="image" accept="image/*" class="hidden">
            </div>
          </div>

          {% if form.image.errors %}
            <p class="text-red-500 text-xs mt-2">
              {{ form.image.errors.0 }}
            </p>
          {% endif %}
        </div>

        <!-- DESCRIPTION -->
        <div class="col-span-2">
          <label class="block text-[12px] font-black tracking-widest mb-3">
            Description
          </label>

          <textarea
            name="description"
            rows="4"
            class="w-full px-6 py-4 text-xs border rounded-lg
            {% if form.description.errors %}border-red-500 ring-2 ring-red-200{% else %}border-gray-200{% endif %}"
          >{{ form.description.value|default_if_none:'' }}</textarea>

          {% if form.description.errors %}
            <p class="text-red-500 text-xs mt-2">
              {{ form.description.errors.0 }}
            </p>
          {% endif %}
        </div>

        <!-- STATUS -->
        <div>
          <label class="block text-[12px] font-black uppercase mb-3">
            Status
          </label>

          <select name="is_active"
                  class="w-full px-6 py-4 text-xs font-black uppercase border rounded-lg">

            <option value="True" {% if form.is_active.value %}selected{% endif %}>
              Active
            </option>

            <option value="False" {% if not form.is_active.value %}selected{% endif %}>
              Inactive
            </option>

          </select>
        </div>

      </div>

      <!-- BUTTONS -->
      <div class="flex items-center gap-4 pt-6">
        <button type="submit"
                class="bg-green-700 text-white px-12 py-5 text-[10px] font-black uppercase rounded-2xl">
          Update Category
        </button>

        <a href="{% url 'products:categories' %}"
           class="bg-white border px-12 py-5 text-[10px] font-black uppercase rounded-2xl">
          Cancel
        </a>
      </div>

    </div>
  </form>

</main>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
  
      let cropper = null;
  
      const input = document.getElementById("imageInput");
      const modal = document.getElementById("cropModal");
      const cropImage = document.getElementById("cropImage");
  
      if (!input) return;
  
      input.addEventListener("change", function () {
  
          const file = this.files[0];
          if (!file) return;
  
          const reader = new FileReader();
  
          reader.onload = function (e) {
  
              cropImage.src = e.target.result;
  
              modal.classList.remove("hidden");
              modal.classList.add("flex");
  
              cropper?.destroy();
  
              cropper = new Cropper(cropImage, {
                  aspectRatio: 1,
                  viewMode: 1
              });
  
          };
  
          reader.readAsDataURL(file);
  
      });
  
      window.applyCrop = function () {
  
          if (!cropper) return;
  
          cropper.getCroppedCanvas({
              width: 800,
              height: 800
          }).toBlob((blob) => {
  
              const file = new File([blob], "category.jpg", {
                  type: "image/jpeg"
              });
  
              const dt = new DataTransfer();
              dt.items.add(file);
              input.files = dt.files;
  
              let preview = document.getElementById("previewImage");
  
              if (!preview) {
                  document.getElementById("uploadIcon")?.remove();
  
                  preview = document.createElement("img");
                  preview.id = "previewImage";
                  preview.className = "w-full h-full object-cover rounded-2xl";
  
                  document.getElementById("imageBox").appendChild(preview);
              }
  
              preview.src = URL.createObjectURL(blob);
  
              closeCrop();
  
          }, "image/jpeg");
  
      };
  
      window.closeCrop = function () {
  
          modal.classList.add("hidden");
          modal.classList.remove("flex");
  
          cropper?.destroy();
          cropper = null;
  
      };
  
  });
  </script>
{% endblock %}
